<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--->add name="SASConnectionString" connectionString="Data Source=WINDEV\WINDEV;Initial Catalog=SAS; Persist Security Info=True;User ID=sa;Password=sa" /-->
    <add name="SASNEWConnectionString" connectionString="Data Source=csm-rnd-pc\mssql2008;Initial Catalog=SAS; Persist Security Info=True;User ID=sa;Password=sa123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CompanyCode" value="01"/>
    <add key="ExportDataSponsor-GL" value="_GLJournal_Sponsor"/>
    <add key="ExportDataSponsor-CBP" value="_CBPayments_Sponsor"/>
    <add key="ExportDataSponsor-CBR" value="_CBReceipts_Sponsor"/>
    <add key="ExportDataStudent-GL" value="_GLJournal_Student"/>
    <add key="ExportDataStudent-CBP" value="_CBPayments_Student"/>
    <add key="ExportDataStudent-CBR" value="_CBReceipts_Student"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
